/* FloatingPiecesAnimation.module.css */
.wrapper {
    position: absolute;
    top: 50%;
    /* Adjust this value as needed */
    left: 0;
    width: 100%;
    height: 100px;
    /* Adjust this value as needed */
    overflow: hidden;
}

.rectangles {
    display: flex;
    position: relative;
    animation-duration: 1s;
    /* Adjust animation duration as needed */
}

.rectangle,
.rectangle2 {
    width: 100px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.rectangle {
    background-color: #00f;
    animation: moveRight 5s linear infinite;
}

.rectangle2 {
    background-color: #f00;
    animation: moveRight 5s linear infinite;
    animation-delay: -1250ms;
    /* Delay the start of the animation by 4.3 seconds */
}

@keyframes moveRight {
    0% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(1500%);
    }
}