.growing-rectangle {
    background-color: #4C4B9B;
    transition: height 2s ease, transform 2s ease;
    border-radius: 5px;
    bottom: 0;
    margin-left: 0.7%;
    position: absolute;
    margin-bottom: -0.5%;
}

.dark-filter {
    filter: blur(2px);
}

.dark-o {
    top: 0;
    width: 100%;
    height: 59.7%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.dark-r {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin-top: -8%;
    margin-left: 17%;
    color: white;
}

.move-up {
    margin-bottom: -20%;
}

.text-margin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.underline-s {
    position: relative;
    display: inline-block;
}

.underline-s::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.1em;
    height: 5px;
    /* Adjust as needed */
    width: 100%;
    background-color: #4C4B9B;
    /* Color of the underline */
    transition: width 0.3s ease-in-out;
    /* Transition effect */
    transform-origin: bottom left;
    /* Set origin to bottom right */
}

@keyframes extendUnderline {
    0% {
        width: 0;
        /* Start with zero width */
    }

    100% {
        width: 100%;
        /* Extend to full width */
    }
}

.underline-s::after {
    animation: extendUnderline 1.5s ease-out forwards;
    /* Start the animation */
}